

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: blue;
}




.hero {
  width: 800px;
  max-width: 80%;
  background-color: beige;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.button-grid {
 display:grid;
 grid-template-columns:repeat(2, auto);
 gap: 10px;
 margin: 20px 0;
 }



.controls {
  display:grid;
 grid-template-columns:repeat(2, auto);
 gap: 10px;
 margin: 20px 0;
}

.startBtn {
  background-color: #d46969;
  gap: 10px;
 margin: 20px 0;
}

.button {
background-color: #d46969;
}

#timerDiv {
  float: left;
  margin: 2px;
  color: #911c1c;
}

#next-btn {
  background-color: #d46969;
  gap: 10px;
 margin: 20px 0;
}